@using Rinsen.Outback.App.Models
@model TwoFactorModel
@{
    Layout = "_LayoutIdentity";
}

@using (Html.BeginForm("TwoFactor", "Identity", FormMethod.Post, htmlAttributes: new { @class = "form-signin" }))
{
<h1 class="h3 mb-3 font-weight-normal">2-Step Verification</h1>
    @Html.LabelFor(m => m.KeyCode, "Verification code", htmlAttributes: new { @class = "sr-only" })
    @Html.TextBoxFor(m => m.KeyCode, new { @type = "text", @class = "form-control", placeholder = "Verification code" })
    <button class="btn btn-lg btn-primary btn-block" type="submit">Verify</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2019-@DateTime.Now.Year</p>
    @Html.HiddenFor(m => m.ReturnUrl)
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.TypeSelected)
}